**Initialising ORKG for synthesis**

In [1]:
# Install latest version of the ORKG R package from Git
install.packages('remotes')
remotes::install_gitlab("TIBHannover/orkg/orkg-r", force=TRUE)

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

Downloading GitLab repo TIBHannover/orkg/orkg-r@HEAD
from URL https://gitlab.com/api/v4/projects/38478922/repository/archive.tar.gz?sha=HEAD

── R CMD build ─────────────────────────────────────────────────────────────────
* checking for file ‘/tmp/RtmpLKAaG1/remotes7b0600f243e/orkg-r-HEAD-a2545c2b31722810a7c25a2289430c8972aa262f/DESCRIPTION’ ... OK
* preparing ‘orkg’:
* checking DESCRIPTION meta-information ... OK
* checking for LF line-endings in source and make files and shell scripts
* checking for empty or unneeded directories
Omitted ‘LazyData’ from DESCRIPTION
* building ‘orkg_0.1.0.tar.gz’

In [5]:
# Connect with ORKG
library(orkg)
orkg <- ORKG(host='https://incubating.orkg.org/')

In [6]:
# Retrieve resouce from ORKG
PerezAlvarez2018 <- orkg$resources$by_id('R535310')$as_dataframe()
PerezAlvarez2018

            p-value t-value DF Std.Error Value
(Intercept) 0.5768  0.5668  21 0.0791    0.0449
mead_250    0.0054  3.1029  21 0.1866    0.5791
Year2015    0       5.5384  21 0.0582    0.3225

In [7]:
Paredes2022 <- orkg$resources$by_id('R539697')$as_dataframe()
Paredes2022

     Pr..Chi. Resid..Dev Resid..Df Deviance Df
NULL NA       31.8955    24        NA       NA
shdi 0.035    27.4522    23        4.4433   1

In [8]:
# Example
mead_250_P <- as.numeric(PerezAlvarez2018['mead_250',]['p-value'])
mead_250_P

[1] 0.0054